CORS_ORIGIN=
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USER=
DB_PASSWORD=
JWT_KEY=

# Google Cloud Storage
GCS_BUCKET_NAME=
GOOGLE_APPLICATION_CREDENTIALS=

# FFmpeg
FFMPEG_PATH=
FFPROBE_PATH=

ENCRYPTION_KEY=