CORS_ORIGIN=
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USER=
DB_PASSWORD=
JWT_KEY=

# Google Cloud Storage
GCS_BUCKET_NAME=
GOOGLE_APPLICATION_CREDENTIALS=

WEBSOCKET_HOST=
WEBSOCKET_PORT=
REDIS_HOST=
REDIS_PORT=

# Stripe
STRIPE_SECRET_KEY=
STRIPE_SUCCESS_URL=
STRIPE_CANCEL_URL=
APP_URL=

# FFmpeg
FFMPEG_PATH=
FFPROBE_PATH=

ENCRYPTION_KEY=